<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="NorthSignal" href="/assets/North_Signal-BTTwzxuP.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>North Signal</title>
    <script type="module" crossorigin src="/assets/index-CbYnqLu4.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-BDSskNoh.css">
  </head>
  <body>

    <div id="root"></div>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
  </body>
</html>
